html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=480px")
        meta(http-equiv="X-UA-Compatible", content="IE=7")
        title 資料

        link(rel="stylesheet", href="./styles/main.css")
        link(rel="stylesheet", href="./lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="./lib/fontawesome-free-5.9.0-web/css/all.css")
        block style
        block script
    body
        #wrapper
            //- include ../blocks/header-login

            block body

            //- include  ../blocks/footer

        script(src="./lib/jquery/jquery-3.4.1.min.js")
        script(src="./lib/bootstrap/js/bootstrap.min.js")
        script(src="./lib/greensock-js/TweenMax.min.js")
        block body-end
        script(src="./js/main.js")
