extends ./layouts/main

block script

block style
    //- link(rel="stylesheet", href="./lib/swiper/css/swiper.min.css")

block body

block body-end
    //- script(src="./lib/swiper/js/swiper.min.js")